@import '../../vars.css';

@keyframes shine {
  0% {
    border-color: var(--color-dark);
    box-shadow: 0 0 5px var(--color-dark);
  }
  50% {
    border-color: var(--color-dark);
    box-shadow: 0 0 20px var(--color-dark);
  }
  100% {
    border-color: var(--color-dark);
    box-shadow: 0 0 5px var(--color-dark);
  }
}


.game-history {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--color-secondary); /* Different background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 600px;
  border: 2px solid var(--color-dark);
  overflow: hidden;
  color: var(--color-text);
}

.game-history:hover {
  animation: shine 1s infinite; /* Apply the shine animation on hover */
}

.game-history-header {
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
  z-index: 1;
}

.game-history-section h2{
  text-align: center;
}

.game-history-body {
  max-height: 550px; /* Adjust height as needed */
  overflow-y: auto;
}

.game-history-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header, .table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--color-primary);
}

.table-header {
  background-color: var(--color-primary);
  font-weight: bold;
}

.table-cell {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: var(--color-text); /* Text color white */
}

.table-row:hover {
  background-color: var(--color-tertiary);
}

.table-row a {
  text-decoration: none;
  color: inherit;
}

.table-row a:hover, .table-row a:focus, .table-row a:active {
  text-decoration: none; /* Ensure no underline on hover, focus, or active */
}

.table-header .table-cell {
  cursor: pointer;
}