@import '../../vars.css';

.nav-header {
  background: var(--color-primary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: var(--font-sans);
  color: var(--color-text);
  margin: 0;
}

.nav-logo a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--color-secondary);
}

.nav-item.active a {
  color: var(--color-tertiary);
}