@import '../../vars.css';

header {
  background: var(--color-primary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: var(--font-sans);
  color: var(--color-text);
  margin: 0;
}

header a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--color-secondary);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}