:root{
  /*color*/
  --color-text: #fff;
  --color-primary: rgb(0, 255, 247);
  --color-secondary: rgb(0, 166, 255);
  --color-dark: #000;
  --color-bg: #525967;

  /*font*/
  --font-sans: sans-serif;
  }