:root {
  --color-text: #FEFDFE;
  --color-primary: rgb(62, 56, 114); /* Neon Blue */
  --color-secondary:#B036BE; /* Neon Pink */
  --color-tertiary: #48c500; /* Neon Cyan */
  --color-dark: #00aeff;
  --color-bg:#55698f; /* Dark Background */
  --font-sans: 'Press Start 2P', cursive; /* Arcade-style font */
}