@import '../vars.css';

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  animation: fadeIn 0.4s ease-in-out; /* Apply the fade-in animation */
}

/* .about-container h1{
  color: var(--color-text);
} */

.developers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.developer-card {
  background-color: var(--color-bg);
  border: 1px solid var(--color-dark);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-container h1 {
  font-family: var(--font-sans);
  color: var(--color-text);
  margin-bottom: 20px;
  font-size: 75px;
}

.developer-links a {
  color: var(--color-primary);
  margin: 0 10px;
  font-size: 1.5rem;
}

.developer-links a:hover {
  color: var(--color-tertiary);
}

.developer-card:nth-child(1) {
  animation-delay: 0.2s;
}

.developer-card:nth-child(2) {
  animation-delay: 0.4s;
}

.developer-card:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}