.about-container {
    text-align: center;
    padding: 20px;
  }
  
  .developers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .developer-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .developer-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .about-container h1 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 20px;
    font-size: 75px;
  }
  
  .developer-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
  }
  
  .developer-card:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .developer-card:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .developer-card:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .developer-links {
    margin-top: 10px;
  }
  
  .developer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .developer-links a:hover {
    text-decoration: underline;
  }