@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@500&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.create-game-section,
.game-list-section {
  flex: 1;
  margin: 10px;
}

.create-game-section {
  margin-right: 20px;
}

.game-list-section {
  margin-left: 20px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.scrollable-card {
  max-height: 600px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.game-history-section {
  width: 100%;
  max-width: 1400px;
  margin-top: 40px;
}